{% extends 'base.html' %}
{% block head %}
    <script src="{{url_for('static', filename='loading.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='css/address_form.css')}}">
{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <p class="title">You can investigate the address by filling the form.</p>
        <form class="form-group" method="POST" action="{{ url_for('investigate_address') }}">
          {{form.hidden_tag()}}
            <div class="form-group">
                {{ form.post_code.label }}
                {{ form.post_code(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
    </div>
{% endblock %}
{% block dynamics %}
    <div class="loader"></div>
{% endblock %}