{% extends 'base.html' %}
{% block head %}
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
{% endblock %}
{% block content %}
    <div id="user_element"></div>
    <div id="button_element"></div>
    <div id="element"></div>
    {% if crimes %}
    <div class="container">
        <p>Total Number of crimes: {{ crimes_number }}</p>
    <table>
        <tr>
            <th>Crime Type</th>
            <th>Number</th>
        </tr>
        {% for crime_cat, number in crimes.items() %}
            <tr>
                <td>{{ crime_cat }}</td>
                <td>{{ number }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Crimes not available.</p>
    {% endif %}
    </div>
<!--    <script src="{{url_for('static', filename='like_button.js')}}"></script>-->
{% endblock %}