{% extends 'base.html' %}
{% block head %}
<script src="{{url_for('static', filename='mine.js')}}"></script>
{% endblock %}
{% block content %}
    <div id="app">[[ message ]]</div>
    {% if crimes %}
    <div class="container">
        <p>Total Number of crimes: {{ crimes_number }}</p>
    <table>
        <tr>
            <th>Crime Type</th>
            <th>Number</th>
        </tr>
        {% for crime_cat, number in crimes.items() %}
            <tr>
                <td>{{ crime_cat }}</td>
                <td>{{ number }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Crimes not available.</p>
    {% endif %}
    </div>
{% endblock %}