<html>
<body>
<script src="{{url_for('static', filename='home.js')}}"></script>
<h1>Welcome to the HomePage! Please answer the following questions:</h1>
    <form name="nameForm">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="John"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Doe"><br><br>
      <input type="submit" value="Submit" id="nameButton">
    </form>
</body>
</html>