<html>
<body>
<h1>Please enter the data required to your job:</h1>
<script src="{{url_for('static', filename='job.js')}}"></script>
<form name="jobForm">
    <input type="hidden" id="fname" name="fname">
    <input type="hidden" id="lname" name="lname">
    <label for="job">Job:</label><br>
    <input type="text" id="job" name="job" required><br>
    <label for="salary">Salary:</label><br>
    <input type="number" id="salary" name="salary" required><br><br>
    <input type="submit" value="Submit" id="jobButton">
</form>
</body>
</html>